body {
    font-family: Arial, sans-serif;
    display: flex;
    background: linear-gradient(to left,#a200ff, #0015ff);
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    width: 70%;
    margin-top: 200px;
    margin: 40px auto;
    background-color: rgb(235, 235, 235);
    padding: 50px;
    border-radius: 30px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.493);
}
.topico {
    margin-bottom: 20px;
    display: flex;
}

.topico h2 {
    width: 20vw;
}
h1 {
    margin-top: 100px;
    text-align: center;
    color: white;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    color: white;
    background-color: #007bff;
    font-weight: bold;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    box-shadow: 5px 5px 10px #00000057;
    animation-fill-mode: both;
}

.animation-1 {
    animation-name: animacao1;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
}

.animation-2 {
    animation-name: animacao2;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-delay: 1s;

}

.animation-3 {
    animation-name: animacao3;
    animation-duration: 4s;
    animation-timing-function: ease-in;
    animation-delay: 1s;

}

.animation-4 {
    animation-name: animacao4;
    animation-duration: 4s;
    animation-timing-function: ease-out;
    animation-delay: 1s;

}

.animation-5 {
    animation-name: animacao5;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;

}

.animation-6 {
    animation-name: animacao6;
    animation-duration: 4s;
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    animation-delay: 1s;
}

@keyframes animacao1 {
    0% {

        transform: translateX(0);
    }

    100% {
        transform: translateX(800px);

    }
}

@keyframes animacao2 {
    0% {

        transform: translateX(0);
    }

    100% {
        transform: translateX(800px);

    }
}

@keyframes animacao3 {
    0% {

        transform: translateX(0);
    }

    100% {
        transform: translateX(800px);

    }
}

@keyframes animacao4 {
    0% {

        transform: translateX(0);
    }

    100% {
        transform: translateX(800px);

    }
}

@keyframes animacao5 {
    0% {

        transform: translateX(0);
    }

    100% {
        transform: translateX(800px);

    }
}

@keyframes animacao6 {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(400px);
    }

    100% {
        transform: translateX(800px);
    }
}